##########################################################################
#
#  INFIVERVE TECHNOLOGIES PTE LIMITED CONFIDENTIAL
#  __________________
# 
#  (C) INFIVERVE TECHNOLOGIES PTE LIMITED, SINGAPORE
#  All Rights Reserved.
#  Product / Project: Flint IT Automation Platform
#  NOTICE:  All information contained herein is, and remains
#  the property of INFIVERVE TECHNOLOGIES PTE LIMITED.
#  The intellectual and technical concepts contained
#  herein are proprietary to INFIVERVE TECHNOLOGIES PTE LIMITED.
#  Dissemination of this information or any form of reproduction of this material
#  is strictly forbidden unless prior written permission is obtained
#  from INFIVERVE TECHNOLOGIES PTE LIMITED, SINGAPORE.


'.source.ruby':
  'flint-ssh-connector-template':
    'prefix': 'call-ssh-connector'
    'body': """

          @log.trace("Calling SSH Connector...")
          ${1:connector_name}_response = @call.connector("${1:connector_name}")
                                         .set("target","${2:IP/hostname}") #Target machine hostname or ip address
                                         .set("port",${3:22})              #Target machine port,default 22
                                         .set("type","${4:exec}")          #Shell execution type:shell or exec,default exec
                                         .set("username","${5:username}")  #Target machine username
                                         .set("password","${6:password}")  #Target machine password
                                         .set("passphrase","${7:1234}")    #Optional passphrase to be added to ssh key
                                         .set("key-file","${8:id_rsa}")    #Optional ssh key file absolute path
                                         .set("command","${9:command}")    #Command to be executed on target machine
                                         .set("timeout",60000)          #Optional timeout in milliseconds
                                         .sync


          if   ${1:connector_name}_response.exitcode == 0
              @log.info("Success")
              ${1:connector_name}_output = ${1:connector_name}_response.get("result")
          end

          """
